<a href="https://colab.research.google.com/github/MahdiHat791/v2/blob/master/Mine-ADV_C191_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1st Additional Activity
# 1st Task - Find out which country had sent the first Satellite in space and when 
# 2nd Task - Find out which country has send a Satellite recently in space

import pandas as pd
from matplotlib import pyplot as plt

dataframe = pd.read_csv('https://shravaripatil.github.io/ADV/AA/C191_satellite_data.csv')
df = dataframe.dropna() 

# Write code to sort the data table stored in variable "df" using sort_values() function and store the new table in a variable. 
# As we want to get the 1st satellite launched so we will use 'Date of Launch' column to sort the table.
# (Hint - This function takes a parameter "by" which should be assigned a column name in square brackets based on which you want to sort the table.)


# We want to print the country name of 1st satellite launched , so we will first select the column and then use head() function to get 1st row ()
# (Hint: use variable holding the sorted data table and name of the column to be selected ('Country of Operator/Owner' as this column holds the country names) within sqaure bracket )


print("----------")
# We want to print the launch date of 1st satellite launched , so we will first select the column and then use head() function to get 1st row ()
# (Hint: use variable holding the sorted data table and name of the column to be selected ('Date of Launch' as this column holds the satellites launch date) within sqaure bracket )


print("----------")
# We want to print the country name of satellite launched recently that is last, so we will first select the column and then use tail() function to get last row ()
# (Hint: use variable holding the sorted data table and name of the column to be selected ('Country of Operator/Owner' as this column holds the country names) within sqaure bracket )


print("----------")
# We want to print the launch date of satellite launched recently that is last, so we will first select the column and then use tail() function to get 1st row ()
# (Hint: use variable holding the sorted data table and name of the column to be selected ('Date of Launch' as this column holds the satellites launch date) within sqaure bracket )

----------
----------
----------